.root{
    /* border: 1px solid black; */
    height: 3235px;
    width: 888px;
    margin: 0 auto;
}
.banner{
    background-image:url("./img/schoolb.jpg"),url("./img/bac.jpg");
   
    background-repeat: no-repeat, no-repeat;
    background-position: left,top left;
    background-size: 276px,320px;
    background-position-x: 50px,70px;
    background-position-y: 40px,80px;
}
.heading{
    text-align: center;
    padding-left: 140px;
    padding-top:5px;
    font-size: 22px;
    color: rgb(0, 114, 221);
}
.heading p{
    font-size: 15px;
    color: indianred;
    padding-right: 75px;
}
.optional{
    height: 128px;
    /* border: 1px solid; */
    width: 600px;
    margin-left:240px;
    display: inline-block;
}
.optional img{width: 60px;}
.Cl,
.Cls,
.Clss,
.Clsa{
    /* border: 1px solid green; */
    height: 88%;
    width: 23%;
    float: left;
    /* margin-left: 5px; */
    /* margin:5px; */
    margin-top: 5px;
   text-align: center;
}
.Cl{
    background-color: rgb(26, 238, 185);
    color: white;
    margin-left: 15px;
}
.Cls{
    background-color: yellow;
   color: white;
}
.Clsa{
    background-color: violet;
    color: white;
}
.Clss{
    background-color: rgb(0, 114, 221);
    color: white;
}
.p_tag{
    font-family: 'Oswald', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
padding-left: 75px;
font-size: 25px;
color:rgb(243, 97, 243);
font-weight: bold;
display: inline-block;
}
nav{
    /* border: 1px solid; */
    height: 90px;
}
nav .bar{
    display: inline-block;
    vertical-align: top;
    margin-left: 170px;
    /* border: 1px solid; */
}
nav .bar li{
    display: inline-block;
    padding: 20px;
}
nav .bar li a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
color: black;
}
.banner{
    height: 450px;
    /* border: 1px solid;    */
}
.left,
.right{
    height: 90%;
     /* border: 1px solid;  */
     width: 47%;
     float: left;
}
.service{
    height: 250px;
    /* border: 1px solid; */
    text-align: center;
    background-color: rgb(15, 155, 155);
    color: white;
}
.service h2{
    text-align: left;
    font-weight: bold;
    padding-left: 130px;
}
.service p{
    text-align: justify;
    padding-left: 230px;
    padding-right: 10px;
}
.about{
    /* border: 1px solid red; */
    height: 590px;
}
.about .abo{
    /* border: 1px solid; */
    height: 100px;
    text-align: center;
    line-height: 16px;
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
}
.A,
.B{
    height: 82%;
    /* border: 1px solid; */
    width: 25%;
    float: left;
    margin-left: 20px;
    color: rgb(90, 81, 81);
    padding-left: 5px;
}
.C{
    height: 82%;
    /* border: 1px solid; */
    width: 40%;
    float: left; 
    margin-left: 20px;
}
.about img{
    width: 100px;
    padding-left: 15px;
    padding-top: 30px;
}
.A .pre{
    width: 170px;
    height: 152px;
}
.B .pre2{
    width: 170px;
    height: 152px;
}
.about .A a{
    text-decoration: none;
    padding-left: 5px;
    color: rgb(24, 151, 236);
}
.about .A a:hover{color: orangered;}
.about .B a:hover{color: orangered;}
.about .B a{
    text-decoration: none;
    padding-left: 5px;
    color: rgb(24, 158, 236);
}
.C img{
    width: 90%;
    height: 99%;
    padding-top: 0;
}
.service2{
    /* border: 1px solid; */
    height: 356px;
    margin-top: 30px;
    background-color: rgb(252, 252, 17);
}
.serv{
    text-align: center;
    line-height: 10px;
    padding-top: 5px;
    color: white;
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
height: 90px;
/* border: 1px solid; */
}
.serv h2{
    font-weight: bold;
}
.X,
.Y,
.Z,
.ZZ{
    /* border: 1px solid green; */
    height: 60%;
    width: 20%;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 5px;
   background-color: white;
   text-align: center;
}
.service2 img{
    width: 50px;
    padding-top: 5px;
    padding-left: 14px;
}
.X h4{
  color: rgb(238, 26, 210);  
}
.Y .im{
    width: 90px;
    padding: 0px;
}
.Y h4{
    color: mediumslateblue;
}
.Z h4{
    color: mediumspringgreen;
}
.ZZ h4{
    color: gold;
}
.inovative{
    /* border: 1px solid; */
    height: 400px;
}
.left,
.right{
    height: 92%;
    /* border: 1px solid red; */
    width: 44%;
    float: left;
    margin-left: 25px;
    padding-left: 15px;
}
.left img{
    width: 98%;
    height: 99%;
    padding-left: 25px;
}
.pho{
    color: rgb(238, 26, 210);
}
.right h2{
    color: rgb(25, 157, 201);
}
.right{
    padding-top: 25px;
    padding-left: 25px;
}
.right a{
    text-decoration: none;
    padding-left: 2px;
    color: rgb(61, 118, 243);
    font-weight: bold;
}
.right a:hover{
    color: orangered;
}
.enroll{
    height: 296px;
    /* border: 1px solid; */
    margin-top: 27px;
    background-color: rgb(4, 141, 196);
    color: white;
}
.a,
.b{
    height: 99%;
    /* border: 1px solid; */
    width: 40%;
    float: left;
    margin-left: 45px;
    
}
.b{
    padding-top: 69px;
}
.cont{
    /* border: 1px solid; */
    position: relative;
    width: 880px;
    height: 256px;
    margin-top: 10px;
    box-sizing: border-box;
    margin: 25px auto;
}
.cont .box{
         position: relative;
         width: 280px;
         height: 253px;
               
         margin: 5px;
         box-sizing: border-box;
         overflow: hidden;
         border-radius: 5px;
         float: left;
         /* text-align: center; */
}
.cont img{
    width: 80px;
    padding-left: 80px;
    padding-top: 15px;
}
.cont .x2{
     padding-top: 30px;
}
.cont .x3{
   width: 60px; 
   padding-left: 120px;
}
.box h3{
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
}
.box p{
    font-size: 15px;
             text-align: center;
    padding-top: 47px;
        font-weight: bold;
}
.box h4{
    font-size: 15px;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
}
.footer{
    /* border: 1px solid blue; */
    margin-top: 38px;
    height: 265px;
    color: white;
    line-height: 20px;
}
.footer .box{
    position: relative;
    width: 296px;
    height: 255px;
    background-color: rgb(250, 132, 151);       
    margin: 0px;  
    overflow: hidden;   
    float: left;
}
.footer h3{
    padding-top: 65px;
}
.footer .box img{
    width: 150px;
    padding-left: 60px;
    padding-top: 50px;
}
.foot{
    text-align: center;
    padding-top: 25px;
    background-color: rgb(54, 53, 53);
    height: 87px;
    color: white;
}
.foot a{
    color: rgb(243, 124, 144);
}



