.root{
    border: 1px solid black;
    height: 1968px;
    width: 888px;
    margin: 0 auto;
}
.p_tag{
    font-family: 'Oswald', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
padding-left: 75px;
font-size: 25px;
color:rgb(243, 97, 243);
font-weight: bold;
display: inline-block;
}
nav{
    border: 1px solid;
    height: 90px;
}
nav .bar{
    display: inline-block;
    vertical-align: top;
    margin-left: 170px;
    border: 1px solid;
}
nav .bar li{
    display: inline-block;
    padding: 20px;
}
nav .bar li a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
color: black;
}
.banner{
    height: 450px;
    border: 1px solid;   
}
.left,
.right{
    height: 95%;
    /* border: 1px solid; */
    /* width: 49%; */
    float: left;
}
.left{
    background-image: url("./img/bac.jpg");
    background-repeat: no-repeat;
    background-size: 260px;
    background-position-x: 80px;
    background-position-y: center;
    padding-right: 25px;  
    
}
.mainp{
    width: 260px;
    padding-left: 55px;
    padding-top: 65px;
}
.right{
    color: rgb(5, 95, 230);
    font-size: 30px;
    padding-left: 35px;
    padding-top: 75px;
}
.right p{
    color: black;
    font-family: 'Oswald', sans-serif;
font-family: 'Rubik Beastly', cursive;
font-family: 'Supermercado One', cursive;
font-size: 20px;
}
.middle{
    border: 1px solid;
    height: 80px;
    
}
.A,
.B,
.C,
.D{
    height: 98%;
    width: 15%;
    border: 1px solid;
    float: left;
}